<!DOCTYPE html>
<html lang="en">
<head>
  <title>ScribbleChat</title>
  <style>
  body {
    background-color: #A89FFF;
    font-family: "Avenir Next", "Open Sans", "Liberation Sans", "Helvetica Neue", "Helvetica", sans-serif;
  }
  #container video, #container img {
    border-radius: 10px;
    width: 31vw;
    padding: 5px;
  }
  h1 {
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 300;
  }
  </style>
</head>
<body>
  <h1>ScribbleChat Recent Creations</h1>
  <div id="container"></div>
  <script>
  var MAX_VIDEOS_TO_KEEP = 30;

  window.addEventListener("load", function() {
    if (window.WebSocket === undefined) {
      document.body.innerHTML += "<p>Your browser does not support WebSockets</p>";
      return;
    }

    var container = document.getElementById("container");
    var socket;
    start();
    function start() {
      socket = new WebSocket("ws://"+window.location.host+"/ws");
      socket.onopen = function() {
        console.log("Socket is open");
      };
      socket.onmessage = function(e) {
        // Only keep specified number of scribbles in the dom.
        while (container.children.length >= MAX_VIDEOS_TO_KEEP) {
          container.removeChild(container.lastChild);
        }

        var url = e.data;
        if (url.endsWith(".mp4")) {
          var video = document.createElement("video");
          video.setAttribute("src", url);
          video.setAttribute("playsinline", true);
          video.setAttribute("muted", true);
          video.setAttribute("autoplay", true);
          video.setAttribute("type", "video/mp4");
          // On Android 4.4.2, we can't just set loop=true, so we manually restart
          // it when it reaches the end:
          video.addEventListener("ended", function() {
            video.currentTime = 0;
            video.play();
          });
          container.insertBefore(video, container.firstChild);
        } else if (url.endsWith(".gif")) {
          var img = document.createElement("img");
          img.src = url;
          container.insertBefore(img, container.firstChild);
        } else {
          console.warn("got unknown data from websocket:", e);
        }
      }
      socket.onclose = function () {
        console.log("Socket closed");
        // Try to reconnect in 5 seconds
        setTimeout(start, 5000);
      }
    }
  });
  </script>
</body>
